[Unit]
Description=Keycloak (dev mode)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=keycloak
Group=keycloak
EnvironmentFile=/etc/keycloak/keycloak.env
WorkingDirectory=/opt/keycloak
ExecStart=/opt/keycloak/bin/kc.sh start-dev --import-realm
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
